.sideHr{
    margin: 20px 0;
}
.carousel-item img{
    height: 20rem;
    width: 20rem;
 
}

.input{
    height: 46px;
}

.ak{
    margin-left: 200px;
}
.text{
    margin-top: 20px;
    margin-right: 50px;
}
h5{
    color: brown;
}
.profilemain{
    display: flex;
    justify-content: center;
}
.profile{
    width: 80px;
    height: 40px;
}
.profileimg{
    width: 100px;
    height: 95px;
    border-radius: 50%;
}
.probtn{
    display: flex;
    justify-content: center;
    
    
}

 