.sideHr{
    margin: 20px 0;
}
.carousel-item img{
    height: 20rem;
    width: 20rem;
 
}

.input{
    height: 46px;
}

.ak{
    margin-left: 200px;
}
.text{
    margin-top: 20px;
    margin-right: 50px;
}
h5{
    color: brown;
}
 