.topImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-right: 10px;
}
.topImg2{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-right: 10px;
}
.position-absolute.top-40.end-0 {
    z-index: 1000;
  }
  .camera{
    font-size: 2px; 
    border-radius: 50%;
    background-color: green;
   color: white;
    position: absolute;
    top:47px;
    left: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }